/*
 * Copyright (c) 2024 Russ Webber
 */

/ {
    chosen {
        // zephyr,canbus = &can0;
    };
};

/*&can0 {
    status = "okay";
    // compatible = "zephyr,native-posix-linux-can";
    host-interface = "vcan0";
    // sjw = <1>;
    // sample-point = <875>;
    // bus-speed = <125000>;
};*/
